[Unit]
Description=Start backend

[Service]
User=root
Type=oneshot
WorkingDirectory=/home/store
ExecStart=uwsgi --ini /home/store/store.ini

[Install]
WantedBy=multi-user.target
