<div class="select-add-container">
  <lt-select-add
    [options]="pageNames()"
    [selectedIndex]="selectedPageIndex()"
    placeholder="Add a new page…"
    (selectionChange)="onSelectPage($event)"
    (add)="onAddPage($event)"
  />
</div>

<div class="page-container">
  @if (selectedPage(); as page) {
    <lt-page [page]="page" (dragHappening)="dragHappening.set($event)" />
  } @else {
    <p>Add a new page to get started!</p>
  }
</div>

<button [class.transparent]="dragHappening()" (click)="showSettings.set(true)">
  Settings
</button>

@if (showSettings()) {
  <lt-modal (close)="showSettings.set(false)">
    <lt-settings
      [token]="store.token()"
      [page]="selectedPage()"
      (close)="showSettings.set(false)"
      (updatePage)="onUpdatePage($event)"
      (deletePage)="onRemovePage()"
      (switchAccount)="onSwitchAccount($event)"
    />
  </lt-modal>
}

@if (showWelcome()) {
  <lt-modal (close)="showWelcome.set(false)">
    <lt-welcome
      (close)="showWelcome.set(false)"
      (startFresh)="showWelcome.set(false)"
      (loadExample)="onLoadExample()"
    />
  </lt-modal>
}
