<div class="tower" *ngIf="tower$ | async">
  <div class="container">
    <div class="tasks-container">
      <app-tasks [tasks]="tasks" [tower$]="tower$"></app-tasks>
    </div>

    <img src="assets/plus-sign.svg" alt="add item" (click)="$event.stopPropagation() || addBlock()" />

    <div class="block-container-container">
      <div class="block-container" *ngIf="styledBlocks.length > 0">
        <app-block
          *ngFor="let block of drawableBlocks"
          [ngClass]="block.cssClass"
          [ngStyle]="block.style"
          [block]="block"
          [tower$]="tower$"
        ></app-block>
      </div>
    </div>
  </div>

  <label for="tower-name" class="hidden">Card name</label>
  <input
    id="tower-name"
    type="text"
    placeholder="name…"
    [(ngModel)]="towerName"
    [ngStyle]="{ color: (tower$ | async)?.baseColor | color }"
  />
</div>
