<section class="towers" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropDrag($event)">
  <app-tower
    *ngFor="let tower of towers"
    [tower$]="tower.asObservable()"
    [dateRange$]="dateRange"
    cdkDrag
    (cdkDragStarted)="startDrag(towers.indexOf(tower))"
  ></app-tower>
  <div *ngIf="(page$ | async)?.towers.length < 5 && !(page$ | async)?.userData?.hideCreateTowerButton">
    <img src="assets/plus-sign.svg" alt="add tower" class="add-tower" (click)="page.addTower()" />
  </div>
</section>

<img
  [ngClass]="isDragging ? 'active' : ''"
  src="assets/trash.svg"
  alt="trashcan"
  class="trash"
  (pointerenter)="trashEnter()"
  (pointerleave)="trashExit()"
  (pointerup)="removeTower()"
/>

<div class="double-slider-container" [ngStyle]="{ opacity: isDragging ? '0' : '1' }">
  <app-double-slider
    *ngIf="dates.length >= MIN_BLOCK_COUNT_BEFORE_SHOWING_SLIDER"
    [values]="dates"
    [labels]="dateLabels"
    (range)="dateRange.next($event)"
  ></app-double-slider>
</div>
