<div class="select-add-container">
  <!-- wrapper for easier styling -->
  <app-select-add
    [options]="pageNames"
    [default]="(selectedPage$ | async)?.name"
    (value)="selectPage($event)"
    [placeholder]="'Add a new page…'"
  ></app-select-add>
</div>
<!-- wrapper for easier styling -->

<div class="page-container">
  <!-- wrapper for easier styling -->
  <app-page [page$]="selectedPage$" (isDragHappening)="isDragHappening = $event"></app-page>
</div>
<!-- wrapper for easier styling -->

<button [ngClass]="isDragHappening ? 'transparent' : ''" (click)="openSettings()">Settings</button>
