$accent-color: #a2666f;
$text-color: #5d576bff;
$light-color: #ffffff;

$background-gradient: linear-gradient(90deg, #fff9e077 0, #ffd6d677 100%);

$shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, 0.1), 0 0 3px 2px rgba(0, 0, 0, 0.05);
$shadow-border: 0 0 0 0.75px rgba(0, 0, 0, 0.1);

$normal-font: 'Open Sans Condensed', sans-serif;
$title-font: 'Raleway', serif;

$mobile-width: 520px;
$min-height: 400px;
