<div *ngIf="tasks" class="container {{ tasks.length > 0 ? 'show-hover' : '' }}">
  <p class="header" (click)="isOpen = !isOpen">
    <strong>
      {{ tasks.length == 0 ? '' : tasks.length }}
    </strong>
    {{ tasks.length == 0 ? '&#8203;' : tasks.length == 1 ? 'task' : 'tasks' }}
  </p>
  <div class="all-task" #allTask [ngStyle]="{ height: (isOpen ? allTask?.scrollHeight : 0) + 'px' }">
    <div class="task-container" *ngFor="let task of tasks" [ngStyle]="{ color: task.color | color }">
      <div [ngStyle]="{ 'background-color': task.color | color }"></div>
      <p (click)="handleClick(task)" [innerText]="task.description ? task.description : 'unknown'"></p>
    </div>
  </div>
</div>
