@import '../../../../../../styles';

:host {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 100000;

  .container {
    @include card();

    cursor: pointer;
    transition: box-shadow $long-animation-time;
    &.show-hover:hover {
      box-shadow: $shadow-border;
    }

    padding: calc(var(--small-padding) / 2);
    margin: calc(var(--small-padding) / 2);

    max-height: 30vh;
    overflow-y: auto;

    .header {
      cursor: pointer;
    }

    p {
      font-size: var(--medium-font-size);
    }

    .all-task {
      @include inner-spacing(var(--small-padding));

      :first-child {
        margin-top: var(--small-padding);
      }

      height: 0;
      box-sizing: border-box;
      transition: height $long-animation-time;
      overflow-y: hidden;

      .task-container {
        display: flex;
        align-items: center;

        &:hover {
          p {
            @media (min-width: $mobile-width) {
              color: inherit !important;
            }
          }
        }

        div {
          flex: 0 0 auto;
          margin: 0 calc(var(--small-padding) / 2) 0 0;
          @include square(var(--small-padding));
          @media (max-width: $mobile-width) {
            @include square(calc(var(--small-padding) / 2));
          }
        }

        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-x: hidden;
          text-align: left;

          @media (max-width: $mobile-width) {
            font-size: var(--small-font-size);
          }

          position: relative;
        }
      }
    }
  }
}
