@import 'library/main';

$line-height: 2px;

* {
  margin: 0;
  padding: 0;

  &:active,
  &:focus {
    outline: 0;
  }

  &::selection {
    background: $text-color;
    color: $light-color;
  }

  &::placeholder {
    user-select: none;
  }
}

html {
  height: 100%;
  background-color: $text-color;
}

body {
  height: 100%;
  background: $background-gradient-opaque;
  text-align: center;
  padding: var(--large-padding);
  box-sizing: border-box;
  position: relative;
}
