<div class="header">
  <div class="exit" (click)="modalService.cancel()"></div>
  <h1>Settings</h1>
</div>

<div>
  <!-- wrapper for easier styling -->
  <app-toggle
    [beforeText]="'Hide create tower button'"
    [afterText]="'Show create tower button'"
    [default]="!page.userData.hideCreateTowerButton"
    (value)="page?.setHideCreateTowerButton(!$event)"
  ></app-toggle>
</div>
<!-- wrapper for easier styling -->

<p *ngIf="page.towers?.length == 5">There can be a maximum of <strong>5</strong> towers on each page.</p>

<button (click)="deletePage()">Delete current page</button>
