@import '../../../../../styles';

:host {
  @include card();

  width: 66vw;
  max-width: 400px;
  @media (max-width: $mobile-width) {
    width: 300px;
  }

  box-sizing: border-box;
  padding: var(--large-padding);

  position: relative;
  box-shadow: $shadow;

  @include inner-spacing(var(--large-padding));

  .header {
    @include center-child();

    .exit {
      position: absolute;
      left: var(--large-padding);

      @include exit();
    }
  }

  p {
    font-size: var(--medium-font-size);
  }
}
